{% extends 'core/base.html' %}
{% load static %}
{% block title %}Editar receta{% endblock title %}
{% block content %}

<section class="page-section books about-heading">
  <dic class="container">
    <div class="about-heading-content">
      <div class="row me-0">
        <div class="col-xl-9 col-lg-10 mx-auto">
          <div class="bg-faded p-5 rounded" style="background-color:#f6e1c58c;">
          
          <h2 class="section-heading mb-4">
            <span class="section-heading-upper">Formulario de edición</span>
            <span class="section-heading-lower">Recetas</span>
          </h2>
          {% if form.errors %}
            <p>Datos incorrectos, por favor revisar.</p>
          {% endif %}
          
          <form action="" method="POST" enctype="multipart/form-data">{% csrf_token %}

            <div class="form-group">
              <label for="recipe_title">Título</label>
              <div class="input-group">{{form.recipe_title}}</div>  
            </div>

            <div class="form-group">
              <label for="ingredients">Ingredientes</label>
              <div class="input-group">{{form.ingredients}}</div>  
            </div>

            <div class="form-group">
              <label for="preparation">Preparación</label>
              <div class="input-group">{{form.preparation}}</div>  
            </div>

            <div class="form-group">
              <label for="author">Autor</label>
              <div class="input-group">{{form.author}}</div>  
            </div>

            <div class="form-group">
              <label for="picture">Foto</label>
              <div class="input-group btn">{{form.picture}}</div>  
            </div>
            <br>
            <div class="text-center">
              <input type="submit" class="btn btn-primary btn-md" value="ACTUALIZAR">
              <a class="btn btn-primary btn-md" href="{% url 'recipes' %}">VOLVER</a>
            </div>
          
          </form>

        </div>
      </div>
    </div>
  </div>
</section>
        
{% endblock content %}