{% extends 'core/base.html' %}
{% load static %}
{% block title %}Editar Perfil de Usuario{% endblock title %}
{% block content %}

<div class="container">
  <div class="row me-0">
    <div class="col-xl-9 mx-auto">
      <div class="cta-inner bg-faded text-center rounded-form">
        <h2>Editar perfil de: <em><b>{{user.username}}</b></em></h2>
        
        <form action="{% url 'edit_profile' %}" method="post" enctype="multipart/form-data">
          {% csrf_token %}
          <table>
            {{form.as_table}}
          </table>
          <button class="btn btn-primary btn-md">Guardar Perfil</button>
        </form>

      </div>
    </div>
  </div>
</div>

{% endblock content %}