{% extends 'core/base.html' %}
{% load static %}
{% block title %}Post{% endblock title %}
{% block content %}

  <dic class="container">
    <div class="about-heading-content">
      <div class="row me-0">
        <div class="col-xl-9 col-lg-10 mx-auto">
          <div class="bg-faded p-5 rounded" style="background-color:#e5dacccc;">

          <h3 class="section-heading mb-4">{{page.title}}</h3>
          <hr>
          <h4>{{page.subtitle}}</h4>
          {% if page.image %}
            <div class="text-center">
              <img src="{{page.image.url}}" alt="" width="500px" heigth="500px">
            </div>
          {% endif %}
          <p>{{page.content|safe}}</p>
          <br><br>
          <p>Escrito por <em><b>{{page.author}}</b></em></p>
          <p>{{page.created|date:'SHORT_DATE_FORMAT'}}</p> 
          
          <div class="intro-button mx-auto text-center">
            <a class="btn btn-primary btn-md" href="{% url 'pages' %}">
              Volver
            </a>
          </div>

        </div>
      </div>
    </div>
  </div>

{% endblock content %}
