{% extends 'core/base.html' %}
{% load static %}
{% block title %}Agregar Libro{% endblock title %}
{% block content %}
<section class="page-section books about-heading">
  <dic class="container">
    <div class="about-heading-content">
      <div class="row me-0">
        <div class="col-xl-9 col-lg-10 mx-auto">
          <div class="bg-faded p-5 rounded" style="background-color:#f6e1c58c;">
          
          <h2 class="section-heading mb-4">
            <span class="section-heading-upper">Formulario de carga</span>
            <span class="section-heading-lower">Libros</span>
          </h2>
          {% if form.errors %}
          <p>Datos incorrectos, por favor revisar.</p>
          {% endif %}
          
          <form action="" method="POST">{% csrf_token %}

            <div class="form-group">
              <label for="title">Título</label>
              <div class="input-group">
                {{form.title}}
              </div>  
            </div>
            
            <div class="form-group">
              <label for="author">Autor</label>
              <div class="input-group">
                {{form.author}}
              </div>  
            </div>

            <div class="form-group">
              <label for="isbn">ISBN</label>
              <div class="input-group">
                {{form.isbn}}               
              </div>  
            </div>

            <div class="text-center">
              <input type="submit" class="btn btn-primary btn-block py-2" value="CREAR">
              <a class="btn btn-primary btn-block py-2" href="{% url 'book_list' %}">
                VOLVER
              </a>              
            </div>

          </form>
          
        </div>
      </div>
    </div>
  </div>
</section>
        
{% endblock content %}
       