{% extends 'core/base.html' %}
{% load static %}
{% block title %}Libros{% endblock title %}
{% block content %}

<section class="page-section books about-heading">
  <div class="container" style="margin-top: 2rem">
    <div class="about-heading-content">
      <div class="row">
        <div class="col-xl-9 col-lg-10 mx-auto">
          <div class="bg-faded bg-book-list rounded-about p-3">
            <p class="mb-3">
              <b>Aquí encontrarás los libros y autores recomendados por nuestros usuarios</b>
            </p>
          </div>
        </div>
      </div>
    </div>
    
  </div>
</section>

<!-- Listado de libros de la base de datos -->
<section class="page-section results cta">
  <div class="container">
    <div class="row me-0">
      <div class="col-xl-9 mx-auto">
        <div class="cta-inner bg-faded bg-book-list text-center rounded">
          <h2 class="section-heading mb-5">
            <span class="section-heading-upper">Libros</span>
          </h2>
          <div class="list-unstyled list-hours mb-5 text-left mx-auto">

            <table style="width: 100%">
              <tr>
                <th>TÍTULO</th>
                <th>AUTOR</th>
              </tr>
              {% for book in books %}
              <tr>
                <td class="list-unstyled-item list-hours-item">{{book.title}}</td>
                <td class="list-hours-item">
                  <span class="ms-auto" style="font-weight: normal"><em>{{book.author}}</em></td>
                <td>
                  <a class="btn btn-primary btn-sm" href="{% url 'book_update' book.id %}">
                    EDITAR
                  </a>
                </td>
                <td>
                  <a class="btn btn-primary btn-sm" href="{% url 'book_delete' book.id %}">
                    BORRAR
                  </a>
                </td>
                </tr>
                {% endfor %}
            </table>
            
          </div>
          <div class="intro-button mx-auto">
            <a class="btn btn-primary btn-md" href="{% url 'book_create' %}">
              AGREGAR LIBRO
            </a>
            <a class="btn btn-primary btn-md" href="{% url 'book_search' %}">
              BUSCAR LIBRO
            </a>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>

{% endblock content %}
        